
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: robotoCon, sans-serif, monospace;
    scroll-behavior: smooth;
}

body {
    background-color: $color__main;
    // width: 100vw;
    // height: 2000px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
