@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.controls__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
            .controls {
                display: flex;
                flex-direction:row;
                gap: 2vh;
                margin-top: 1vh;
                margin-bottom: 5vh;
}}

.controls__button {
        width: 180px;
        height: 40px;
        font-size: 20px;
        font-weight: 700;
        background: linear-gradient(45deg, transparent 1%, #ffc401 15%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        box-shadow: 6px 0px 0px #00E6F6;
        outline: transparent;
        position: relative;
        transition: 500ms all ease-in-out;
        transition-delay: 0ms;
                &.gen:hover {
                    cursor: pointer;
                    background: linear-gradient(45deg, transparent 0%, #13f339 15%);
                    box-shadow: 1px 1px 10px 2px #ffc401;
                    text-shadow:
                            0 0 7px #fff,
                            0 0 10px #fff,
                            0 0 21px #fff,           
                }
                &.clr:hover {
                    cursor: pointer;
                    background: linear-gradient(45deg, transparent 0%, #e60606 15%);
                    box-shadow: 1px 1px 10px 2px #ffc401; 
                    text-shadow:
                            0 0 7px #fff,
                            0 0 10px #fff,
                            0 0 21px #fff,           
                }
      }

#dropdown__gen,
#dropdown__gen > option{
    width: 240px;
    height: 40px;
    font-size: 20px;
    background: linear-gradient(45deg, transparent 0%, #4882ff 0%);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 1px 1px 10px 1px #00E6F6;
    // outline: transparent;
    position: relative;
}


body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f30101);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
        & > div,div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3vh;
                    }
}

span.pokemon__ {
        &id, &stats{   
            display:flex;
            justify-content: center;
            text-align: center;}
        }   

