html,
body {
    max-width: 99vw;
    margin: auto;
    font-size: 18px;
    line-height: 1.4em;
    color: GhostWhite;
    background-color: rgb(165, 164, 164);
}

.page-title {
    text-align: center;
    margin: auto;
    line-height: 2em;
    
    & h1 {
        display: flex;
        justify-content: center;
    }
}

.main {
    margin-left: 2vw;
    margin-right: 2vw;
}
