@font-face {
    font-family: robotoCon;
    src: url(/01_Fundamentals/eindopdracht/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: robotoConBold;
    src: url(/01_Fundamentals/eindopdracht/fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: robotoConLight;
    src: url(/01_Fundamentals/eindopdracht/fonts/RobotoCondensed-Light.ttf);
    font-weight: light;
}