.login {
    margin-top: 15vh;
}

input[type=text],
[type=password] {
    width: 260px;
    height: 30px;
    padding: 0;
    margin-top: 5px;
    outline: none;
    border: none;
    border-bottom: thin black solid;
    background-color: $color__main;

    &[type=password] {
        margin-bottom: 5px;
    }
    @media (max-width:$break-tab-port) {
        margin: 16px;
        font-size: 20px;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & a {
        text-decoration: none;
    }

}

.img__box {
    text-align: center;

    .avatar {
        border-radius: 10%;
     }
    

    &__desc {
        font-weight: 50;
    }
}
.avatar__box {
    width: 250px;
    height: 250px;
    border: 1px solid rgba(32, 32, 32, 0.1);
    border-radius: 10%;
    background-image: url(/eindopdracht_CSS/images/avatar.png);
                &:hover {
                background-image: url(/eindopdracht_CSS/images/haha.png);
            }
}


.button__holder {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
    border: 0;
    width: 260px;
    height: 40px;
    background-color: #2211c2;
        &:hover {
        cursor: pointer;
        background-color: rgba(17, 153, 194, 1);
        transition: all 0.2s ease-out;
    }

        

}

.button__icon {
    display: flex;
    flex-shrink: 1;
    background-image: url(/eindopdracht_CSS/images/login.svg);
    background-repeat: no-repeat;
    width: 30px;
    margin-top: 7px;
    margin-left: 10px;

}

#login__button {
    flex-grow: 2;
    margin-top: 0px;
    border: 0;
    font-size: x-large;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 17, 194, 0.0);

    &:hover {
        cursor: pointer;
    }
    &:active {
        transition: all 0.2s ease-out;
        cursor: pointer;
        background-color: rgb(26, 151, 21);
        
    }
}

.box__aside {
    @media (max-width:$break-tab-port) {
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}