*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#search__container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
}

input {
    font-size: 1rem;
    min-width: 30vw;
}


.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

#searches {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2vh;
   list-style: none;
                
}

.hide {
    display: none;}
