*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#search__container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    gap: .25rem;
    align-items: center;
}

input {
    font-size: 1rem;
    min-width: 50vw;
    max-width: 400px;
}

.acomp__item > div {

    &:hover {
        background-color: #008b8bBF;
    }
}
// #searches {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    margin-top: 2vh;
//    list-style: none;
                
// }
