@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
@font-face {
  font-family: "digital-7_mono";
  src: url("./styles/digital-7_mono-webfont.woff2") format("woff2"), url("./styles/digital-7_mono-webfont.woff") format("woff"), url("./styles/digital-7_mono-webfont.ttf") format("truetype"), url("./styles/digital-7_mono-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "digital-7";
  src: url("./styles/digital-7-webfont.woff2") format("woff2"), url("./styles/digital-7-webfont.woff") format("woff"), url("./styles/digital-7-webfont.ttf") format("truetype"), url("./styles/digital-7-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes glow {
  from {
    box-shadow: -10px 2px 30px blue, 30px 20px 10px green, 20px 30px 50px pink, -40px -40px 30px brown;
  }
  to {
    box-shadow: 10px 0px 40px green, -20px -20px 40px orange, 20px 40px 20px deeppink, 10px 30px 10px gray;
  }
}
@keyframes glow {
  from {
    box-shadow: -10px 2px 30px blue, 30px 20px 10px green, 20px 30px 50px pink, -40px -40px 30px brown;
  }
  to {
    box-shadow: 10px 0px 40px green, -20px -20px 40px orange, 20px 40px 20px deeppink, 10px 30px 10px gray;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgba(54, 132, 222, 0.5), rgba(135, 190, 252, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 300px;
  height: 300px;
  background-image: url(./image/clockdisp.svg), url(./image/itstime.gif);
  background-repeat: round;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 5px solid black;
  position: absolute;
}
.clock:hover {
  -webkit-animation: glow 3s ease-in-out infinite alternate;
          animation: glow 3s ease-in-out infinite alternate;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation:30deg;
}

.clock .number2 {
  --rotation:60deg;
}

.clock .number3 {
  --rotation:90deg;
}

.clock .number4 {
  --rotation:120deg;
}

.clock .number5 {
  --rotation:150deg;
}

.clock .number6 {
  --rotation:180deg;
}

.clock .number7 {
  --rotation:210deg;
}

.clock .number8 {
  --rotation:240deg;
}

.clock .number9 {
  --rotation:270deg;
}

.clock .number10 {
  --rotation:300deg;
}

.clock .number11 {
  --rotation:330deg;
}

.clock .hand {
  --rotation:0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 98;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 99;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 40%;
  background-color: red;
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.clock .hand.minute {
  width: 7px;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.clock .hand.hour {
  width: 9px;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.6);
}

.digiClock {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 65px;
  background-color: #303030;
  border: 4px solid rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 60px 100px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(254, 23, 23, 0.7490196078);
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
  font-size: 60px;
  font-family: "digital-7", sans-serif;
  letter-spacing: 4px;
}/*# sourceMappingURL=clock.css.map */