
@font-face {
    font-family: 'digital-7_mono';
    src: url('./styles/digital-7_mono-webfont.woff2') format('woff2'),
         url('./styles/digital-7_mono-webfont.woff') format('woff'),
         url('./styles/digital-7_mono-webfont.ttf') format('truetype'),
         url('./styles/digital-7_mono-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'digital-7';
    src: url('./styles/digital-7-webfont.woff2') format('woff2'),
         url('./styles/digital-7-webfont.woff') format('woff'),
         url('./styles/digital-7-webfont.ttf') format('truetype'),
         url('./styles/digital-7-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}